/* --------------------------------
 ----------- Normalize ------------
 -------------------------------- */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
select,
textarea {
    max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}

fieldset >:last-child {
    margin-bottom: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}


/**
 * Typography
 */

body,
button,
input,
select,
textarea {
    color: #0b0b0b;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5
{
    text-transform: uppercase;
    color: #00b8b8;
}

h4,
h5
{
    color: #a5a5a5;
}

h1 {
    font-weight: 600;
    font-size: 2.75em;
    line-height: 1.0909090909090908em;
    margin-top: 0.8181818181818181em;
    margin-bottom: 0.27272727272727em;
}

h2 {
    font-weight: 600;
    font-size: 1.9375em;
    line-height: 1.5483870967741935em;
    margin-top: 0.7741935483870968em;
    margin-bottom: 0.7741935483870968em;
}

h3 {
    font-weight: 600;
    font-size: 1.375em;
    line-height: 1.0909090909090908em;
    margin-top: 1.0909090909090908em;
    margin-bottom: 0em;
}

h4 {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h5 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h6 {
    color: #a5a5a5; 
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border: 1px solid;
    margin: -1px 0;
}

b,
strong,
em,
small,
code {
    line-height: 1;
}

/* --------------------------------
 ----------- Header ------------
 -------------------------------- */

h1 {
  }

.logo {
    max-width: 20%;
    margin: auto;
    display: block;
}

.header {
    background-color: #fff;
    padding: 2em;
}

.main-navigation {
/*  margin: auto;
  margin-top: 1em;*/
  display: flex;
  flex-direction: row;
}

.main-navigation li {
    list-style-type: none;
  /*  display: inline-block;
    float: left;
    text-align: center;*/
    margin: 10px;
}

.main-navigation a {
    font-family: "mrs-eaves-xl-serif", serif;
    color: #a5a5a5;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: block;
    padding: 0 1em;
    transition: .5s all;
}

.main-navigation a:hover {
    color: #00b8b8;
}









































